.info-box {
  position:absolute;
  width: 200px;
  height: auto;
  background-color: #eee;
  border: 5px solid #888;
  z-index: 999;
  display: none;
  top: 5px;
  right: 5px;
  padding: 20px;
}

li {
  list-style: none;
}
